
@{
    ViewBag.Title = "Ajuda";
}
<style>
    p {
        text-align: justify;
    }
</style>

<div class="jumbotron" style="background-color:white">
    <h1 class="text-center text-info">Como Saber se sua Cadela Está no Cio</h1>
    <br />
    <p>
        O cio, também conhecido como ciclo estral, é uma fase pela qual as cadelas não castradas passam. É durante esse
        período que os óvulos amadurecem. Como resultado, ela torna-se fértil e capaz de gerar filhotes. Os sinais
        para saber se ela está neste estágio incluem mudanças no corpo e no  comportamento do animal.
    </p>
    <h2> 4 Métodos: </h2>
    <b>
        1 - Ao entender como funciona o ciclo reprodutivo básico, fica mais fácil identificar o cio.
    </b><br />
    <p>
        Quando a fêmea atinge a maturidade e está fisicamente pronta para procriar, seus níveis de estrogênio aumentam,
        iniciando a liberação de óvulos pelos ovários. <br />Se o acasalamento ocorrer durante este período, as chances de
        que ela engravide são boas.<br /><br />
        Normalmente, as cadelas entram no cio durante a puberdade, em torno de 6 a 24 meses de idade,
        dependendo da raça. Raças menores geralmente alcançam a maturidade fértil mais cedo do que raças
        maiores.
    </p>
    <b>
        2 - Saiba identificar os sintomas. Esse ciclo reprodutivo costuma se repetir duas vezes por ano com um intervalo
        médio de seis meses, dependendo da raça.
    </b><br />
    <p>
        De posse dessa informação, você tem mais um indicativo de que ela está fértil ou não. Por exemplo, se ela
        estava no cio há um mês, é improvável que ela fique de novo tão cedo. Se mesmo assim ela apresentar
        sintomas, eles podem ser sinal de algum problema de saúde.<br /><br />
        Enquanto a maioria das fêmeas entram no cio duas vezes por ano, ou seja, a cada seis meses, algumas
        apresentam esse evento hormonal de forma mais regrada do que outras. Ou seja, sua cadela pode passar por
        esse estágio a cada seis meses, de um jeito regulado feito um relógio. E a do seu vizinho pode apresentar
        alterações a cada ciclo. Na verdade, uma variação que fica entre 4 a 8 meses é considerada normal.<br />
        Esse período dura entre três a quatro semanas.

    </p>
    <b>3 - Saiba quais são os sintomas. </b>
    <p>
        O cio segue um padrão: Na primeira semana, a vulva fica inchada e há a
        liberação de um corrimento com sangue. Mas não se deixe enganar. Cerca de 7 a 14 dias depois do início dessa
        fase, a quantidade de corrimento pode diminuir ou simplesmente parar. É nesse intervalo que muitos donos acham
        que a cadela não está mais fértil e descuidam. Na realidade, é justamente nesse espaço de tempo que ocorre a
        ovulação. Em outras palavras, essa é a melhor hora para ela ficar prenha.<br /><br />
        Caso você não queira mais filhotes, fique mais atento para evitar o contato dela com os machos. Além de
        estar no pico da fertilidade, ela estará mais interessada do que nunca em arrumar parceiros.<br /><br />
        Por volta de 14 a 21 dias depois do começo do cio, o corrimento vai diminuindo até sumir completamente. No
        entanto, é comum que a vulva continue maior do que o normal por mais duas semanas (apesar do risco de
        engravidar não estar mais presente devido ao fim do ciclo).<br /><br />
        - Confira se a vulva está inchada. Fique atrás da cadela, que deve estar em pé. A vulva fica logo abaixo do ânus,
        e começa a aumentar de tamanho para anunciar a chegada dessa fase. Ela pode chegar a ficar três vezes maior
        do que o normal. Sua cor também muda: Você vai reparar que ela torna-se mais avermelhada.<br /><br />
        - Fique atento a um sangramento vaginal. Ele é um sinal de que sua cadela vai entrar no cio em breve. Com a
        chegada desse período, a quantidade de corrimento vai diminuir um pouco e o sangue vai ficar com uma cor
        acastanhada.<br /><br />
        - Observe se ela fica se lambendo sem parar. Esse é outro indício de que o cio chegou. Isso não vale para
        todas, mas a maioria das cadelas passa a adotar esse hábito assim que entram nessa fase.<br /><br />
        - Preste atenção em mudanças no comportamento dela. No estágio inicial, as fêmeas costumam ficar
        nervosas, agitadas ou passam a se irritar com facilidade.<br /><br />
        Algumas passam a latir mais ou tornam-se mais agressivas com as pessoas e os cães ao seu redor.
        - Repare se os comportamentos típicos de acasalamento se fazem presentes. Dentre eles, observe se a
        cadela começou a montar nos machos ou em outras fêmeas. Ela pode até mesmo chegar ao ponto de montar
        nas pernas do dono ou das pessoas da casa.<br /><br />
        No entanto, esse tipo de comportamento pode aparecer por outros motivos. Por exemplo, ela pode estar
        simplesmente se masturbando ou demonstrando o desejo de dominar ou de ser submissa ao outro. Em outras
        palavras, o ato de montar não significa necessariamente que ela está no cio.<br /><br />
        - Preste atenção em como ela posiciona a cauda. Ela pode deixar o rabo enrolado e para o lado, deixando a
        área genital livre para facilitar o acasalamento. Essa reação é comum durante esse período reprodutivo.
        Para verificar se é o caso da sua cadela, experimente coçar com vigor as costas dela. Caso ela contraia as
        patas traseiras e leve a cauda para o lado, é porque está sinalizando o cio.
        Nunca insira nada na vulva ou na vagina para testar se ela está pronta para ficar prenha. Você pode acabar
        machucando o animal sem querer, danificando os tecidos delicados da região genital (os quais podem estar
        inflamados), sem falar no enorme sofrimento para ela.<br /><br />
        - É importante saber que algumas fêmeas são bastante discretas. Mesmo produzindo hormônios reprodutivos,
        elas não exibem sinais visíveis que costumam aparecer, tais como uma vulva inchada.<br /><br />
        A interação entre os machos e a sua cadela pode ser um forte indicador para descobrir se ela está ou não no
        cio. Isso porque eles são capazes de detectar níveis de hormônios reprodutivos femininos mesmo em níveis
        baixos. Os cachorros reagem ficando bastante interessados e excitados na presença de uma fêmea que está
        nessa fase.<br /><br />
        Você sabia que, dependendo do estado de saúde, algumas cadelas podem "pular" um cio? Isso acontece
        quando elas estão com alguma disfunção, problema no organismo ou no caso de terem perdido peso
        recentemente. É o modo que a Natureza tem de evitar uma gravidez em situações nas quais a fêmea não teria
        condições de gerar filhotes saudáveis e/ou de cuidar bem deles.<br /><br />
        - Repare na agressividade de um macho em relação a outros “concorrentes”. Se você tem dois cachorros e
        uma só cadela e ela está no cio, a tendência é que eles comecem a agir de forma bastante agressiva um com o
        outro para provar quem é o macho dominante. Essa disputa tem como prêmio o “direito” de acasalar com a cadela.<br /><br />
        - Fique de olho para sinais que o macho emite verbalmente e na agitação dele longe da fêmea. Se você tem
        um casal e quer confirmar se ela está no ciclo estral, experimente separar os dois. Caso ele pareça mais agitado
        do que o normal e passe a chorar com frequência, é porque ele está demonstrando sua irritação ao ser mantido à
        distância dela. Este é um indicador de que a cadela está produzindo hormônios reprodutivos.<br /><br />
        O porém é que esse método não é infalível. É preciso interpretar o comportamento normal do macho quando
        ele é mantido longe de um companheiro ou companheira, além de levar em conta as mudanças físicas na
        cadela. Ou seja, essa técnica por si só não é capaz de determinar se a reação dele se trata de ansiedade pura
        e simples ou se você está observando frustração sexual da parte do animal.
    </p>
    <b>4 Testes conduzidos por um veterinário.</b>
    <br />
    <p>
        - Peça a ele um exame de sangue. Nele, serão medidos os níveis de progesterona no sangue, os quais sobem
        quando a cadela está no cio. Basta retirar uma pequena amostra, a qual será enviada para um laboratório. Se o
        resultado for níveis baixos, ela não está no estro. Se os níveis forem médios, ela está no cio. E, caso forem elevados,
        é sinal de que ela está prenha.<br /><br />
        Uma alternativa é um teste que mede os níveis do hormônio luteinizante (LH) na corrente sanguínea, os quais
        aumentam antes da ovulação. Pergunte ao veterinário sobre o kit FAStest, o qual está disponível no mercado.<br /><br />
        - Outro exame que pode ser feito é o de citologia vaginal. É rápido e simples. O veterinário esfrega a ponta de
        um cotonete limpo sobre o revestimento úmido da vulva e depois passa o mesmo sobre uma lâmina de vidro.
        Uma vez que a mancha seca, ela pode ser examinada no microscópio.<br /><br />
        Uma cadela no cio apresenta um padrão típico de células grandes e com muitas pontas. Se esse formato
        celular vier aliado a sinais físicos no corpo da cadela, você pode ter certeza de que ela está no ciclo estral.<br /><br />
        - É importante saber diferenciar a causa dos sintomas físicos no corpo dela. O motivo para as mudanças
        pode ser tanto o cio quanto um problema de saúde. É preciso ter bom senso e prestar bastante atenção aos
        sinais. Na dúvida, o ideal é consultar um veterinário.<br /><br />
        Já chegou a data prevista para ela entrar no cio? Se os sintomas aparecem nessa época, então é mais
        provável que seja o ciclo estral do que uma doença ou disfunção.<br /><br />
        Faz pouco tempo que o último ciclo estral dela terminou? Se sim, então é mais provável que se trate de um
        problema de saúde.<br /><br />
        Ela está animada como de costume, comendo e bebendo normalmente e mantendo-se ativa como sempre?
        Se sim, é mais provável que seja o cio.<br /><br />
        Ela já não é mais a mesma, o apetite diminuiu, ela tem mais sede do que o de costume ou está vomitando
        com frequência? Em caso afirmativo, esses são indícios de um problema grave que precisa de atenção
        urgente. Procure um veterinário o mais rápido possível.<br /><br />
        - Se não é a data certa para a cadela entrar no cio mas ela continua apresentando sintomas semelhantes, é
        melhor consultar um veterinário.<br /><br /> Há uma disfunção conhecida como piometra e que costuma afetar fêmeas
        mais velhas. Os sinais são tão parecidos que, para os leigos, podem ser interpretados como mostras de que ela está
        no ciclo estral. Dentre eles estão o inchaço da vulva, com ou sem a presença de corrimento. A piometra refere-se a
        uma infecção no útero. Em casos graves, o órgão fica cheio de pus e, se as toxinas das bactérias forem absorvidas
        pela corrente sanguínea, pode ocorrer uma infecção generalizada.<br /><br />
        Se você tiver uma cadela mais velha que passou recentemente pelo cio (cerca de 4 a 8 semanas atrás) e que
        está com corrimento vaginal, consulte um veterinário, pois esse é o período em que o risco de se desenvolver
        a piometra é o mais alto.<br /><br />
        Na fase inicial do problema, o animal passa a ter mais sede ou perde o apetite. Conforme a infecção piora, o
        estrago chega aos rins. Sem tratamento adequado, há o risco de morte.<br /><br />
        Cada vez que a cadela passa por um ciclo estral, a parede do útero enfraquece um pouco, o que favorece o
        aparecimento da piometra. Quanto mais velha a fêmea (e mais ciclos ela tiver vivenciado), maiores as chances
        de desenvolver o problema. Nenhuma raça está livre desse risco.
    </p>
</div>

