@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron text-center" style="background-color:yellowgreen">
    <img src="~/Imagens/dogs.jpg" alt="Mountains" style="width:100%" />
    <h1>Meetings Pets</h1>
    <p class="lead">Ache um pretendente para seu tão querido bichinho de estimação!</p>
    <p><a href="~/Usuario/Logar" class="btn btn-primary btn-lg">Buscar agora &raquo;</a></p>
    <a href="~/Usuario/CadUsuario" class="btn btn-primary btn-lg">Não tenho Usuário Cadastrado &raquo;</a>
    <br /><br />
    <div class="container">
        <div class="col-md-4">
            <h2>Quem Pode Usar?</h2>
            <p>
                Todo mundo. Adestradores, criadores de animais, donos de pet-shops ou simplesmente apaixonados pelos  tão queridos animais de estimação.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Como Funciona?</h2>
            <p>Muito fácil. Você faz o cadastro do seu animal de estimação e já pode procurar parceiros disponíveis.</p>
        </div>
        <div class="col-md-4">
            <h2>E agora? Comemorar?</h2>
            <p>Isso! Você vai encontrar de uma forma mais rápida e eficiente um par para seu pet. Caso não exista um parceiro ideal de bate-pronto, não tem problema. Seu animal fica resgistrado e assim que aparecer algum pretendente você será avisado.</p>

        </div>
    </div>
</div>